<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pomodoro!</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="..\bower_components\bootstrap\dist\css\bootstrap.css">

    <script src="https://fb.me/react-with-addons-0.14.0.js"></script>
    <script src="https://fb.me/react-dom-0.14.0.js"></script>
    <script src="http://fb.me/JSXTransformer-0.13.1.js"></script>

  </head>
  <body>
    <div id="view"></div>

    <script type="text/jsx">
      var TimerWidget = React.createClass({
        getDefaultProps: function () {
          return {
            minutes: '20',
            seconds: '00'
          };
        },
        render: function () {
          return (
            <div id='content' style={{display: 'block'}}>
              <br />
              <div id="clockdiv">
                <div><span className="minutes">{this.props.minutes}</span></div>&nbsp;:&nbsp;
                <div><span className="seconds">{this.props.seconds}</span></div>
              </div>
              <div style={{marginTop: '10px'}}>
                <button className="btn btn-success" id="start">
                  <span className="glyphicon glyphicon-triangle-right"></span>
                </button>
              </div>
           </div>
         );
        }
      });

      ReactDOM.render(<TimerWidget />, document.getElementById('view'));
    </script>

  </body>
  <script type="text/javascript" src="../scripts/client.js"></script>
</html>
